{{ define "main" }}
<h2>References : Bibliography </h2>

레퍼런스 노트. 주로 원문 번역 자료. BIB 파일에 등록 된 여러 서지 정보 중에 일부.
<br>
+ Author/Title/Date/Type
<br>
<hr>

<!-- DEFAULT List  -->
<section>
  {{ range sort (.Paginator 20).Pages.ByLastmod.Reverse }}
  <div>
    <h3>
      <li style="padding: 3px; position:relative;">
        <a
          data-toggle={{ partialCached "docs/post-meta" . }}
          href="{{ .RelPermalink }}">
          <time class="w3-tag"> {{- .Date.Format "2006-01-02" -}} </time>
          <span>» </span>
          {{- .Title -}}
        </a>
        <i>
          <time class="timestamp">
            ({{ .Lastmod.Format "2006-01-02" -}})
          </time>
        </i>
      </li>
    </h3>
    <p>
      {{- .Summary -}}
    </p>

  </div>

  {{ end }}
</section>

{{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "toc" }}
{{ partialCached "docs/taxonomy" . }}
{{ end }}
