{{ define "main" }}
<h2>References : Bibliography </h2>

레퍼런스 노트. 주로 원문 번역 자료. BIB 파일에 등록 된 여러 서지 정보 중에 일부.
<br>
+ Author/Title/Date/Type
<br>
<hr>

<section>
  {{ range sort (.Paginator 10).Pages.ByLastmod.Reverse }}
  <div>
    <h3>
      <a
        data-toggle={{ partialCached "docs/post-meta" . }}
        href="{{ .RelPermalink }}">
        <span>» </span>
        {{- .Title -}}
      </a>
    </h3>

    <div class="date">
      {{ $dateFormat := $.Site.Params.dateFormat | default "2006-01-02" }}
      {{ $publishDate := .PublishDate }}
      {{ $Date := .Date }}
      Created {{ $Date.Format $dateFormat }}
      {{ with .Lastmod }}
      {{ if gt . $publishDate }}
      (Lastmod {{ .Format $dateFormat }})
      {{ end }}
      {{ end }}

    <p>
      {{- .Summary -}}
    </p>
  </div>

  <hr>

  {{ end }}
</section>

{{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "toc" }}
{{ partialCached "docs/taxonomy" . }}
{{ end }}
