{{ define "main" }}
<h2>Terms : Glossary</h2>
태그도 아니다. 그렇다고 키워드도 아니다. 그냥 용어 사전이다.
<br>
+ Abbrev/Deabbrev/Hangul/#USED 
<br>
<hr>
  <section>
    <br>
    {{ range sort (.Paginator 50).Pages.ByLastmod.Reverse }}
    <div>
      <li style="padding: 3px; position:relative;">
        <a
          data-toggle={{ partialCached "docs/post-meta" . }}
          href="{{ .RelPermalink }}">

          <time class="w3-tag"
                style="color: rgba(0, 0, 0, 0.90);"
                {{- printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr -}}>
            {{- .Date.Format "2006-01-02" -}}
          </time>
          <span>» </span>
          {{- .Title -}}
        </a>
        <span> #Ref {{ partial "docs/backlinkcount" .}} </span>
        <i
          style="color: rgba(0, 0, 0, 0.60);">
          ({{ .Lastmod.Format "2006-01-02" -}})
        </i>
      </li>
    </div>
    {{ end }}
  </section>

  {{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "toc" }}
  {{ partialCached "docs/taxonomy" . }}
{{ end }}
