{{ define "main" }}
<h2>Terms : Glossary</h2>
태그도 아니다. 그렇다고 키워드도 아니다. 그냥 용어 사전이다.
<br>
+ Abbrev/Deabbrev/Hangul/#USED 
<br>
<hr>

<!-- Terms List  -->
<section>
  {{ range sort (.Paginator 30).Pages.ByLastmod.Reverse }}
  <div>
    <h3>
        <a
          data-toggle={{ partialCached "docs/post-meta" . }}
          href="{{ .RelPermalink }}">
          <span>» </span>
          {{- .Title -}}
        <span> #{{ partial "docs/backlinkcount" .}} </span>
        <time class="w3-tag"> 📌{{- .Date.Format "2006-01-02" -}} </time>
        <time class="lastmod">🚧{{ .Lastmod.Format "2006-01-02" -}}</time>
        </a>
    </h3>
  </div>

  {{ end }}

  {{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "toc" }}
  {{ partialCached "docs/taxonomy" . }}
{{ end }}
