{{ define "main" }}
<article class="markdown">
  <h1>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h1>

  <div class="date">
    {{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
    {{ $publishDate := .PublishDate }}
    {{ $Date := .Date }}
    <!-- <strong aria-hidden="true"> Author: </strong>{{ .Params.author }} <br> -->
    <strong aria-hidden="true"> Published: </strong>{{ $Date.Format $dateFormat }}
    <strong aria-hidden="true"> Updated: </strong>{{ $publishDate.Format $dateFormat }}
    {{ with .Lastmod }}
    {{ if gt . $publishDate }}
    (Lastmod: {{ .Format $dateFormat }})
    {{ end }}
    {{ end }}
  </div>

  {{ partial "docs/post-meta" . }}
  <p>
    {{- .Content -}}
  </p>
  {{ partial "docs/backlinks" . }}
</article>
{{ end }}

{{ define "toc" }}
{{ partial "docs/toc" . }}
{{ end }}
