/*
 * junghanacs.com
 */

.sidenote {
  font-family: "Iosevka", "Noto Sans KR", sans-serif;
  // color: var(--theme-hl1-color);
  font-size: 90%; /* slightly smaller font for sidenote content */
  position: relative; /* forces note to be relative its the normal position */
}

/* Wide viewport */
@media (min-width: 900px) {
  .sidenote {
    float: left;
    clear: left; /* prevent overlapping of sidenotes */
    text-align: right;

    /* https://kennethfriedman.org/thoughts/2019/marginal-notes/ */
    // start the sidenote display a bit higher than its reference in body
    top: -3rem;
    width: 20vw; /* limits the width of the marginal note */
    margin-left: -23vw; /* sets the distance of sidenote's left margin from the HTML element on right */
    margin-top: 1rem; /* keep some space between adjacent sidenotes if they get too close */
  }
}
/* Narrow viewport */
@media (max-width: 900px) {
  .sidenote {
    float: left;
    text-align: left;

    width: 100%;
    margin: 1rem 0;
    padding-left: 15%;
  }
}
/* Sidenote counter */
body {
  counter-reset: sidenote-counter;
}
.sidenote-number {
  counter-increment: sidenote-counter;
}
/* Counter before the sidenote in the margin. */
.sidenote::before {
  content: counter(sidenote-counter) ".";
  position: relative;
  vertical-align: baseline;
  font-size: 0.9em;
  font-weight: bold;
}
/* Counter in the main body. */
.sidenote-number::after {
  content: counter(sidenote-counter);
  vertical-align: super;
  font-family: sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  // color: var(--theme-body-color);
  display: inline;
  margin-right: 0.2rem;
}
@media (min-width: 900px) {
  /* Highlight the sidenote when mouse hovers on the sidenote number in body. */
  .sidenote-number:hover .sidenote {
    background-color: var(--gray-100);
  }
}

// General Configuration

.org-todo,
.todo,
.done {
  color: #fff;
  padding: 0.1em 0.3em;
  border-radius: 3px;
  background-clip: padding-box;
  font-size: 70%;
  line-height: 1;
}

.TODO {
  background-color: var(--theme-color-todo);
}

.OFF {
  background-color: var(--theme-color-off);
}

.DONE {
  background-color: var(--theme-color-done);
}

/* Org timestamps */
/* Example: In Changelog */
.lastmod {
  /* background-color: var(--theme-color-lastmod); */
  color: var(--body-font-color-lastmod);
  font-family: monospace;
  font-size: 0.8em;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
}

.timestamp {
  // background-color: var(--theme-color-lastmod);
  color: var(--body-font-color-dim);
  font-family: monospace;
  font-size: 0.8em;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
}

/* background-color: var(--theme-color-w3); */
/* color: var(--body-font-color-w3); */
.w3-tag {
  color: var(--body-font-color-dim);
  font-size: 0.8em;
  font-family: monospace;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pretendard", sans-serif;
  font-weight: bold;
}

h1 {
    font-size: 1.5em; // defaul 2em
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
}

// h3 {
//     font-size: 1.3em;
// }

.book-menu {
  font-family: "Pretendard", sans-serif;
  font-size: $font-size-16;
}

kbd {
  font-family: "Iosevka", "Noto Sans KR", sans-serif;
  color: #000000;
  background-color: var(--theme-color-kbd);
  // 약간 효과를 더 주고 싶은데!?
}

// MY CUSTOM

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Pretendard", sans-serif;
    font-weight: bold;
  }

  /* *** Org-style Headline Level Prefix / Asterisks */
  h2::before {
    content: "*";
    font-size: 1.5em;
    vertical-align: -25%; /* more negative -> goes lower */
    margin-right: 0.25em;
    color: var(--theme-color-h2);
  }

  h3::before {
    content: "**";
    font-size: 1.3em;
    vertical-align: -20%; /* more negative -> goes lower */
    margin-right: 0.25em;
    color: var(--theme-color-h3);
  }

  h4::before {
    content: "***";
    font-size: 1.2em;
    vertical-align: -20%; /* more negative -> goes lower */
    margin-right: 0.25em;
    color: var(--theme-color-h4);
  }

  h5::before {
    content: "****";
    font-size: 1.2em;
    vertical-align: -20%; /* more negative -> goes lower */
    margin-right: 0.25em;
    color: var(--theme-color-h5);
  }

  h6::before {
    content: "*****";
    font-size: 1.2em;
    vertical-align: -20%; /* more negative -> goes lower */
    margin-right: 0.25em;
    color: var(--theme-color-h6);
  }

  blockquote {
    font-family: "Hahmlet", serif;
  }

  .book-hint {
    font-family: "Iosevka", "Noto Sans KR", sans-serif;
  }

  code {
    /* font-family: "D2 coding", "Consolas", "Menlo", "Deja Vu Sans Mono", */
    /*   "Bitstream Vera Sans Mono", monospace; */
    font-family: "Iosevka", "Noto Sans KR", sans-serif;
    color: #000000;
    background-color: var(--theme-color-code);
  }
}
