// $font-size-base: 18px;

/* $header-height: 3.5rem !default; */
// $menu-width: 16rem;
// $toc-width: 25rem;

// Themes
@mixin theme-light {
  --gray-100: #dfd5cf;
  --gray-200: #c9b9b0;
  --gray-500: #595959;

  --color-link: #3548cf;
  --color-visited-link: #721045;

  --body-background: #fbf7f0;
  --body-font-color: black;
  --body-font-color-dim: #595959;

  --icon-filter: none;

  --hint-color-info: #002580;
  --hint-color-warning: #5f0070;
  --hint-color-danger: #7f0000;

  --theme-color-h2: #7f0000;
  --theme-color-h3: #624416;
  --theme-color-h4: #193668;

  --theme-color-todo: #a60000;
  --theme-color-off: #595959;
  --theme-color-done: #006800;
  --theme-color-w3: #dfd5cf;
  --theme-color-lastmod: #ffe8f0;
  --theme-color-kbd: #ffcf00;
}

@mixin theme-dark {
  --gray-200: #c6daff;
  --gray-500: #4a4f69;

  --color-link: #79a8ff;
  --color-visited-link: #feacd0;

  --body-background: #0d0e1c;
  --body-font-color: #ffffff;
  --body-font-color-dim: #fbf7f0;

  --icon-filter: brightness(0) invert(1);

  --hint-color-info: #6ae4b9;
  --hint-color-warning: #fec43f;
  --hint-color-danger: #ff5f59;

  // fb-heading-1 ..
  --theme-color-h2: #ffffff;
  --theme-color-h3: #d2b580;
  --theme-color-h4: #82b0ec;

  --theme-color-todo: #ff5f59;
  --theme-color-off: #989898;
  --theme-color-done: #44bc44;
  --theme-color-w3: #61647a;
  --theme-color-lastmod: #595959;
  --theme-color-kbd: #f1e00a;
}
